@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: italic;
  }
  *{
    font-family: 'montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  .nav-transition {
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
  
     .italictext {
         font-family: 'WindSong', cursive;
     }